<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="container">
    <h2>Cadastro</h2>
    <% if (message) { %>
      <p class="error-message">
        <%= message %>
      </p>
      <% } %>
        <form action="/auth/register" method="POST">
          <label for="nome">Nome:</label>
          <input type="text" id="nome" name="nome" placeholder="Digite seu nome" value="<%= nome %>" required>

          <label for="email">E-mail:</label>
          <input type="email" id="email" name="email" placeholder="Digite seu e-mail" value="<%= email %>" required>

          <label for="senha">Senha:</label>
          <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>

          <button type="submit">Cadastrar</button>
        </form>
        <p>Já tem uma conta? <a href="/auth/login">Faça login</a></p>
  </div>
  <script>
    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href);
    }
  </script>
</body>

</html>
